.container{
    background-color: rgb(248, 247, 247);
    padding: 5px;
}
.col{
    margin: 15px;
    border: none;
    

	
}
.list_img{
    
    
    height: 100%;
    width: 100%;
    border: none;
   
}
.list{
    height: 28px;
    padding: 0px;
    font-size: 13px;
    padding-left: 3px;
}
.list:nth-child(even){
    background-color: rgb(228, 225, 225);
}


.ListGroup{
    margin-top: 50px;
    float: left;
    display: flex;
    flex-direction: column;
}