.baslık{
    color: rgb(240, 176, 15);
    font-size: 30px;
    margin: 10px;
}
.link:hover{
    background-color: gainsboro;
    color:rgb(240, 176, 15);


}
.container{
    margin-bottom: 100px;
}
.link{
    color: black;
}
.baslık2{
    color:rgb(240, 176, 15);
    font-size: 15px;
}
.p{
    font-size: 12px;
}
.buton{
   
    border-radius: 10px ;
    background-color:rgb(191, 191, 252);
    border:none;
  
    
}
