
  
 
  .footer{
      background-color: rgb(99, 97, 97);
      height: 300px;
      
   
  }
  .col{
    margin-top: 50px;
   
  }
  .p{
    margin-left: 10px;
  }
  .img{
    margin-left: 90px;
    margin-top: 50px;
  }
  .h{
    margin-left: 80px;
    margin-top: 12px;
    color: white;
  }
  .p2{
    margin-left: 10px;
    color: white;
  }
  .alt{
    margin-left: 60px;
    color: white;
  }
  .h2{
    margin-left: 90px;
    margin-top: 12px;
    color: white;
  }
  .p22{
    margin-left: 20px;
    color: white;
  }
  .alt2{
    margin-left: 60px;
    color: white;
  }
  .p23{
    
    color: white;
    margin-top: 10px;
  }
  .hr{
    color: white;
    margin-top: 50px;
  }
  .h6{
    color: white;
    margin-left: 50px;
    margin-top: 70px;
  }
  .img2{
    float: left;
    margin-left: 5px;
    margin-top: 70px;
  }
  .imgs{
    margin-left: 50px;
  }
  